@font-face {
   font-family: 'Friday13';
   src: url('../fonts/Friday13v12.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;

@font-face {
      font-family: '';
      src: url('../fonts/Friday13v12.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
